# Ignorar arquivos sensíveis e temporários
.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.vscode/
.idea/
.venv*/
venv*/
# Logs e caches
*.log
*.tmp
__pycache__/
# Render e Git
render.yaml~
